<nav aria-label="Page navigation">
	<p class="col-xs-6 pagination" style="height: 34px;line-height: 34px">一共有 {{count}} 条数据，每页显示 {{pageSize}} 条数据，一共 {{pages}} 页，当前第 {{pageIndex}} 页</p>
	<div class="col-xs-6 text-right">
		<ul class="pagination">
		    <li>
		      	<a href="#" aria-label="Previous">
		        	<span aria-hidden="true">&laquo;</span>
		      	</a>
		    </li>
		    <li><a href="#">1</a></li>
		    <li class="active"><a href="#">2</a></li>
		    <li><a href="#">3</a></li>
		    <li><a href="#">4</a></li>
		    <li><a href="#">5</a></li>
		    <li>
		      	<a href="#" aria-label="Next">
		        	<span aria-hidden="true">&raquo;</span>
		      	</a>
		    </li>
	  	</ul>
	</div>
	
</nav>