{% extends '../layout.html' %}

{% block main %}
	{% include 'nav.html' %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="/admin">首页</a></li>
			<li><a href="/admin/project">项目管理</a></li>
			<li><a href="/admin/projectType">分类列表</a></li>
			<li class="active">分类编辑</li>
		</ol>
		<form class="form-horizontal">
			<input type="hidden" id="projectTypeId" value="{{projectTypeDetail._id.toString()}}">
			<div class="form-group">
				<label for="name" class="col-xs-2 control-label">名称</label>
				<div class="col-xs-8">
					<input type="text" id="name" class="form-control" name="name" placeholder="名称" value="{{projectTypeDetail.name}}">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-8">
					<a href="/admin/project/projectType" type="button" class="btn btn-default">返回</a>
					<button id="addProjectType" type="button" class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div>
<script type="text/javascript">
	/**
	 * 更新项目分类
	 */
	$('#addProjectType').on('click',function() {
		var params = {
			id: $('#projectTypeId').val(),
			name: $('#name').val()
		};
		console.log(JSON.stringify(params))
		$.ajax({
			url: '/admin/project/projectType/edit',
			type: 'post',
			dataType: 'json',
			data: params,
			success: function(res,textStatus,jqXHR) {
				console.log(res)
				layer.msg(res.msg)
				if (res.code == 0) {
					setTimeout(function() {
						window.location.href = '/admin/project/projectType'
					},500)
				}
			}
		})
	})
</script>
{% endblock %}