{% extends '../../layout.html' %}

{% block main %}
	{% include '../nav.html' %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="/admin">首页</a></li>
			<li><a href="/admin/system/from">系统常量</a></li>
			<li><a href="/admin/system/from">会员来源</a></li>
			<li class="active">新增会员来源</li>
		</ol>
		<form class="form-horizontal">
			<div class="form-group">
				<label for="name" class="col-xs-3 control-label">key</label>
				<div class="col-xs-6">
					<input type="text" id="key" class="form-control" name="name">
				</div>
			</div>
			<div class="form-group">
				<label for="name" class="col-xs-3 control-label">value</label>
				<div class="col-xs-6">
					<input type="text" id="value" class="form-control" name="name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-6">
					<a href="/admin/system/from" type="button" class="btn btn-default">返回</a>
					<button id="addFrom" type="button" class="btn btn-primary">提交</button>
				</div>
			</div>
		</form>
	</div>
<script type="text/javascript">
	/**
	 * 添加分类
	 */
	$('#addFrom').on('click',function() {
		var params = {
			key: $('#key').val(),
			value: $('#value').val(),
		}
		console.log(JSON.stringify(params))
		$.ajax({
			url: '/admin/system/from/add',
			type: 'post',
			dataType: 'json',
			data: params,
			success: function(res, textStatus, jqXHR) {
				console.log(res)
				layer.msg(res.msg)
				if (res.code == 0) {
					setTimeout(function() {
						window.location.href = '/admin/system/from'
					}, 500)
				}
			}
		})
	})
</script>
{% endblock %}