{% extends '../../layout.html' %}

{% block main %}
	{% include '../nav.html' %}
	<div class="container-fluid">
		<ol class="breadcrumb">
		  	<li><a href="/admin">首页</a></li>
		  	<li><a href="/admin/shop/goldBeanType">商城管理</a></li>
		  	<li class="active">金豆列表</li>
		</ol>
		<form class="form-inline padding-bottom-15" onsubmit="return false">
		  	<a href="/admin/shop/goldBeanType/add" type="button" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>新增金豆面额</a>
		</form>
		<table class="table table-bordered table-hover" style="table-layout: fixed;">
			<thead>
				<tr>
					<th class="text-center" width="40">
						<input type="checkbox" name="">
					</th>
					<th>金豆面额</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data.goldBeanTypeList %}
				<tr>
					<td class="text-center">
						<input type="checkbox" class="goldBeanTypeId" value="{{item._id.toString()}}">
					</td>
					<td>{{item.num}}</td>
					<td>{{item.addTime|getdatefromtimestamp}}</td>
					<td>
						<a href="/admin/shop/goldBeanType/edit?id={{item._id.toString()}}" type="button" class="btn btn-primary btn-xs">编辑</a>
						<button type="button" class="btn btn-danger btn-xs deleteGoldBeanType">删除</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include '../page.html' %}
	</div>
<script type="text/javascript">
	/**
	 * 删除金豆类型
	 */
	$('.deleteGoldBeanType').on('click',function() {
		var goldBeanTypeId = $(this).parent().parent().find('.goldBeanTypeId').val()
		var params = {
			id: goldBeanTypeId
	    };
	  	$.ajax({
		    url: '/admin/shop/goldBeanType/delete',
		    type: 'post',
		    dataType: 'json',
		    data: params,
		    success: function(resbonse,textStatus,jqXHR) {
		      	console.log(resbonse);
		      	layer.msg(resbonse.msg)
		      	if (resbonse.code == 0) {
		      		location.reload(true)
		      	}
		    }
	  	})
	})
</script>
{% endblock %}