{% extends '../../layout.html' %}

{% block main %}
	{% include '../nav.html' %}
	<div class="container-fluid">
		<ol class="breadcrumb">
			<li><a href="/admin">首页</a></li>
			<li><a href="/admin/memberPrize/memberPrizeList">会员中奖管理</a></li>
			<li><a href="/admin/memberPrize/memberPrizeList">会员中奖列表</a></li>
			<li class="active">中奖奖品详情</li>
		</ol>
		<input type="hidden" id="memberPrizeId" value="{{data._id.toString()}}">
		<div style="width: 600px; margin: 0 auto; padding-top: 20px">
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">中奖会员</label>
				<div class="col-xs-8">{{data.member.mobile}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">奖品</label>
				<div class="col-xs-8">{{data.prize.prizeName}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">收货人</label>
				<div class="col-xs-8">{{data.consignee}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">收获手机</label>
				<div class="col-xs-8">{{data.mobile}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">地址</label>
				<div class="col-xs-8">{{data.address}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">运单号</label>
				<div class="col-xs-8">{{data.waybillNo}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">中奖时间</label>
				<div class="col-xs-8">{{data.addTime|getdatefromtimestamp}}</div>
			</div>
			<div class="row" style="margin-top: 10px">
				<label for="name" class="col-xs-4 control-label text-right">是否发货</label>
				{% if data.isSend == '1' %}
				<div class="col-xs-8">已发货</div>
				{% elseif data.isSend == '2' %}
				<div class="col-xs-8">已完成</div>
				{% else %}
				<div class="col-xs-8">未发货</div>
				{% endif %}
			</div>
			<div class="row" style="margin-top: 10px">
				<div class="col-xs-offset-4 col-xs-8">
					<a href="/admin/member/memberPrize" type="button" class="btn btn-default">返回</a>
					{% if data.isSend %}
					<button id="cancel" type="button" class="btn btn-warning">取消发货</button>
					{% else %}
					<button id="send" type="button" class="btn btn-success">发货</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	/**
	 * 发货
	 */
	$('#send').on('click', function() {
		var index = layer.open({
			type: 1,
			title: '发货',
			skin: 'layui-layer-demo', //样式类名
			closeBtn: 0, //不显示关闭按钮
			shadeClose: true, //开启遮罩关闭
			area: ['500px', '180px'],
			content: `<div style="width: 470px;padding-top: 20px">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-xs-3 control-label">运单号</label>
						<div class="col-xs-9">
							<input type="text" id="waybillNo" class="form-control" name="name" placeholder="运单号" value="">
						</div>
					</div>
				</form>
			</div>`,
			btn: ['确定', '取消'],
			yes: () => {
				var memberPrizeId = $('#memberPrizeId').val()
				var waybillNo = $('#waybillNo').val()
				var params = {
					memberPrizeId: memberPrizeId,
					waybillNo: waybillNo
				}
				$.ajax({
					url: '/admin/member/memberPrize/send',
					type: 'post',
					dataType: 'json',
					data: params,
					success: function(resbonse,textStatus,jqXHR) {
						console.log(resbonse)
						layer.close(index)
						layer.msg(resbonse.msg)
						if (resbonse.code == 0) {
							location.reload(true)
						}
					}
				})
			},
			no: () => {

			}
		})
	})
	/**
	 * 取消发货
	 */
	$('#cancel').on('click', function() {
		var memberPrizeId = $('#memberPrizeId').val()
		var params = {
			memberPrizeId: memberPrizeId
		}
		$.ajax({
			url: '/admin/member/memberPrize/cancel',
			type: 'post',
			dataType: 'json',
			data: params,
			success: function(resbonse,textStatus,jqXHR) {
				console.log(resbonse)
				layer.msg(resbonse.msg)
				if (resbonse.code == 0) {
					location.reload(true)
				}
			}
		})
	})
</script>
{% endblock %}