{% extends '../../layout.html' %}

{% block main %}
	{% include '../nav.html' %}
	<div class="container-fluid">
		<ol class="breadcrumb">
		  	<li><a href="/admin">首页</a></li>
		  	<li><a href="/admin/member">会员管理</a></li>
		  	<li class="active">会员列表</li>
		</ol>
		<form class="form-inline padding-bottom-15" onsubmit="return false">
		  	<div class="form-group">
			    <label for="keyword">关键字</label>
			    <input type="text" class="form-control" id="keyword" placeholder="请输入...">
		  	</div>
		  	<div class="form-group">
			    <label for="endDate">创建日期</label>
			    {% include '../daterangepicker.html' %}
		  	</div>
		  	<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查询</button>
		  	<a href="/admin/member/add" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>新增会员</a>
		</form>
		<table class="table table-bordered table-hover" style="table-layout: fixed;">
			<thead>
				<tr>
					<th class="text-center" width="40">
						<input type="checkbox" name="">
					</th>
					<th>ID</th>
					<th width="140">手机号</th>
					<th width="140">金豆数量</th>
					<th width="150">来源</th>
					<th width="200">创建时间</th>
					<th width="300">操作</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data.memberList %}
				<tr>
					<td class="text-center">
						<input type="checkbox" class="memberId" value="{{item._id.toString()}}">
					</td>
					<td title="{{item._id.toString()}}">{{item._id.toString()}}</td>
					<td>{{item.mobile}}</td>
					<td>{{item.goldBean}}</td>
					{% if item.from == 'default' %}
					<td>默认</td>
					{% else %}
					<td>{{item.from}}</td>
					{% endif %}
					<td>{{item.addTime|getdatefromtimestamp}}</td>
					<td>
						<a href="/admin/member/guess?memberId={{item._id.toString()}}&memberMobile={{item.mobile}}" type="button" class="btn btn-default btn-xs">竞猜列表</a>
						<a href="/admin/member/accountDetails?memberId={{item._id.toString()}}&memberMobile={{item.mobile}}" type="button" class="btn btn-default btn-xs">账户明细</a>
						{% if item.isDisabled %}
						<button type="button" class="btn btn-success btn-xs enableMember">启用</button>
						{% else %}
						<button type="button" class="btn btn-warning btn-xs disableMember">禁用</button>
						{% endif %}
						<a href="/admin/member/edit?id={{item._id.toString()}}" type="button" class="btn btn-primary btn-xs">编辑</a>
						<button type="button" class="btn btn-danger btn-xs deleteMember">删除</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include '../page.html' %}
	</div>
<script type="text/javascript">
	/**
	 * 启用会员
	 */
	$('.enableMember').on('click',function() {
		var memberId = $(this).parent().parent().find('.memberId').val()
		var params = {
			id: memberId
	    };
	  	$.ajax({
		    url: '/admin/member/enable',
		    type: 'post',
		    dataType: 'json',
		    data: params,
		    success: function(resbonse,textStatus,jqXHR) {
		      	console.log(resbonse);
		      	layer.msg(resbonse.msg)
		      	if (resbonse.code == 0) {
		      		location.reload(true)
		      	}
		    }
	  	})
	})
	/**
	 * 禁用会员
	 */
	$('.disableMember').on('click',function() {
		var memberId = $(this).parent().parent().find('.memberId').val()
		var params = {
			id: memberId
	    };
	  	$.ajax({
		    url: '/admin/member/disable',
		    type: 'post',
		    dataType: 'json',
		    data: params,
		    success: function(resbonse,textStatus,jqXHR) {
		      	console.log(resbonse);
		      	layer.msg(resbonse.msg)
		      	if (resbonse.code == 0) {
		      		location.reload(true)
		      	}
		    }
	  	})
	})
	/**
	 * 删除会员
	 */
	$('.deleteMember').on('click',function() {
		var memberId = $(this).parent().parent().find('.memberId').val()
		var params = {
			id: memberId
	    };
	  	$.ajax({
		    url: '/admin/member/delete',
		    type: 'post',
		    dataType: 'json',
		    data: params,
		    success: function(resbonse,textStatus,jqXHR) {
		      	console.log(resbonse);
		      	layer.msg(resbonse.msg)
		      	if (resbonse.code == 0) {
		      		location.reload(true)
		      	}
		    }
	  	})
	})
</script>
{% endblock %}