{% extends '../../layout.html' %}

{% block main %}
	{% include '../nav.html' %}
	<div class="container-fluid">
		<ol class="breadcrumb">
		  	<li><a href="/admin">首页</a></li>
		  	<li><a href="/admin">竞猜管理</a></li>
		  	<li class="active">竞猜列表</li>
		</ol>
		<form class="form-inline padding-bottom-15" onsubmit="return false">
		  	<div class="form-group">
			    <label for="keyword">关键字</label>
			    <input type="text" class="form-control" id="keyword" placeholder="请输入...">
		  	</div>
		  	<div class="form-group">
			    <label for="endDate">创建日期</label>
			    {% include '../datepicker.html' %}
		  	</div>
		  	<button type="button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查询</button>
		</form>
		<table class="table table-bordered table-hover" style="table-layout: fixed;">
			<thead>
				<tr>
					<th class="text-center" width="40">
						<input type="checkbox" name="">
					</th>
					<th>竞猜人</th>
					<th>竞猜题目</th>
					<th>竞猜内容</th>
					<th>投注金额</th>
					<th>状态</th>
					<th>截止时间</th>
					<th>投注时间</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data.guessList %}
				<tr>
					<td class="text-center">
						<input type="checkbox" class="projectId" value="{{item._id.toString()}}">
					</td>
					<td>{{item.member.mobile}}</td>
					<td>{{item.project.name}}</td>
					<td>{{item.projectOption.content}}</td>
					<td>{{item.goldBeanNum}}</td>
					{% if item.project.resultContent %}
					<td class="text-success">已开奖</td>
					{% else %}
					<td>待开奖</td>
					{% endif %}
					<td>{{item.project.endTime|getdatefromtimestamp}}</td>
					<td>{{item.addTime|date('Y-m-d H:i:s', -8*60)}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% include '../page.html' %}
	</div>
<script type="text/javascript">
	/**
	 * 删除项目
	 */
	$('.deleteProject').on('click',function() {
		var projectId = $(this).parent().parent().find('.projectId').val()
		var params = {
			id: projectId
	    };
	  	$.ajax({
		    url: '/admin/project/delete',
		    type: 'post',
		    dataType: 'json',
		    data: params,
		    success: function(resbonse,textStatus,jqXHR) {
		      	console.log(resbonse);
		      	layer.msg(resbonse.msg)
		      	if (resbonse.code == 0) {
		      		location.reload(true)
		      	}
		    }
	  	})
	})
</script>
{% endblock %}